* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #110e0e;
  color: #fff;
}

.main{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.header {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgb(36, 36, 49);
  display: flex;
  align-items: last baseline;
}

.header h1{
    margin-left: 30px;
    font-size: 1.5rem;
      padding-bottom: 10px;
}

.main-results{
  height: 88%;
  width: 100%;
  margin-top: 20px;
  padding: 30px 42px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card{
  width: 150px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-movie-image{
  width: 100%;
  height: 80%;
  border: none;
  
}
.card-image{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  
}

.card-movie-details{
  width: 100%;
  height: 20%;
  padding: 5px;
  line-height: 20px;
}
.card-movie-details h1{
  font-size: 0.8rem;

}
.card-movie-details p{
  font-size: 0.8rem;
}

.return{
  text-align: center;
    font-size: large;
  padding: 10px;
}

@media (max-width: 600px){

  .main{
    padding: 0 10px;
    height: 100%;
}
  
.header h1{
    margin: 10px;
}
.main-results{
  padding: 10px 25px;
}

.card{
  width: 150px;
}

.return{
  font-size: large;
  padding: 20px 10px;
}
}